body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    background: rgba(227, 227, 227);
}

.button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dcdcdc;
    padding: 20px;
    width: 100%;
}

.spline-viewer-container {
    flex: 2;
    height: 100%; 
    z-index: 0;
    width: 100%;
}

.content {
    text-align: center;
    z-index: 1;
}

h1 {
    color: #f4f4f4;
    font-size: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-weight: 700;
    border-bottom: 2px solid #c0a062;
    padding-bottom: 10px;
}

button {
    background-color: #f39c12; /* Bright orange button */
    color: white;
    padding: 15px 50px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;}

button:hover {
    background-color: #e67e22;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        width: 100%;
    }

    button {
        width: 100%;
        padding: 14px;
    }

    h1 {
        font-size: 24px;
    }
}
.box{
    border: 2px solid black;
}

/* Position the box over the logo */
.cover-logo-box {
    position: absolute;
    bottom: 0px; 
    right: 0px; 
    width: 157px;  
    height: 56px;  
    background-color: rgba(227, 227, 227); 
    z-index: 999;  
}

.spline-viewer-container {
    position: relative;  
}

.cover-logo-box {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 157px;
    height: 56px;
    display: flex;
    z-index: 999;
}


.left-box, .right-box {
    width: 50%;  
    height: 100%;
    background-color: rgb(57, 55, 55);  
    transition: background-color 1s ease;  
}


.right-box.final-state {
    background-color: rgba(227, 227, 227);  
}

/* Final state of the left box */
.left-box.final-state {
    background-color: rgba(227, 227, 227);  
}