/* General styling for body and html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(227, 227, 227);
}

/* Navbar styling */
.navbar {
    background-color: #f8f9fa;
    z-index: 1000;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-item {
    padding-left: 15px;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #f39c12;
}

/* Main content area */
.main-container {
    display: flex;
    flex: 1;  /* Takes remaining height */
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
}

.button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dcdcdc;
    padding: 20px;
}

.spline-viewer-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Button styling */
button {
    background-color: #f39c12; /* Bright orange button */
    color: white;
    padding: 15px 50px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e67e22;
}

/* Styling for the logo hiding box inside spline section */

.cover-logo-box {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 157px;
    height: 56px;
    display: flex;
    z-index: 999;
}


.left-box, .right-box {
    width: 50%;  
    height: 100%;
    background-color: rgb(57, 55, 55);  
    transition: background-color 1s ease;  
}

/* Final state: changes background to match page background */
.left-box.final-state, .right-box.final-state {
    background-color: rgba(227, 227, 227);  /* Match background */
}

/* Responsive design for mobile */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        width: 100%;
    }

    button {
        width: 100%;
        padding: 14px;
    }
}
.logo-title {
    font-family: cursive;
    font-size: 24px;
    font-weight: bold;
    color: #ff5722;
    margin: 0 0 10px 0;
    padding: 0;
    cursor: pointer;
}
.back{
    background-color: red;
}