<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Camera Mode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>😊</text></svg>">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='camera.js') }}"></script>
</head>
<body>
    <div class="container">
        <!-- Left side: Camera feed -->
        <div class="camera-feed">
            <!-- <h2 class="camera-title">Sentify</h2>  Title above the camera -->
            <h2 class="camera-title" onclick="location.href='/mode_selection'">😊Sentify</h2>
            <img src="{{ url_for('video_feed') }}" alt="Camera Feed">
        </div>

        
        <div class="info-panel">
            <h1>Emotion Detection</h1>
            <p id="emotionText">Detected Emotion: None</p>
            <p id="genderText">Detected Gender: None</p>
            <p id="activityText">Suggested Activity: None</p>
            <div class="loading" id="loading">Loading...</div>
            <button onclick="switchToUploadMode()">Switch to Image Upload Mode</button>
        </div>
    </div>
</body>
</html>
