<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload Mode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>😊</text></svg>">
    <script src="{{ url_for('static', filename='upload.js') }}"></script>
</head>
<body>
    <div class="container">
        <!-- Left side: Logo and Image upload -->
        <div class="upload-section">
            <div class="logo-container">
                <h2 class="camera-title">Sentify</h2> <!-- Logo Title -->
            </div>
            <h1>Emotion Detection - Image Upload Mode</h1>
            <input type="file" id="imageInput" accept="image/*" onchange="previewImageAndDetectEmotion(event)">
            <h3>Uploaded Image:</h3>
            <img id="uploadedImage" src="" alt="Uploaded Image" style="display:none; max-width: 400px; margin-bottom: 20px; animation: fadeIn 0.5s;">
        </div>

        <!-- Right side: Detected emotion and activity information -->
        <div class="info-panel">
            <div class="info-content">
                <div id="loadingIndicator" class="loading" style="display:none;">Loading...</div> <!-- Loading Indicator -->
                <p id="emotionText">Detected Emotion: None</p>
                <p id="genderText">Detected Gender: None</p>
                <p id="activityText">Suggested Activity: None</p>
                <button onclick="switchMode()">Switch to Camera Mode</button>
            </div>
        </div>
    </div>

    
</body>
</html>
